

<div>

  <form method="POST" action="/<%=@animal.id%>" class="container_form">
    <h1>Edit <%= @animal.name %>'s Details</h1>
    <h3 class="form_header"> Animals Details </h3>
    <input type="text" name="name" class="container_form_left" value="<%= @animal.name %>"/>

    <input type="text" name="dob" id="animal_dob" class="container_form_right" value="<%= @animal.dob %>"/>
    <br>
    <br>

    <input type="text" name="type_of_animal" id="animal_species" class="container_form_left" value="<%= @animal.type_of_animal %>">


    <br>
    <br>
    <br>
    <br>



    <h3 class="form_header"> Owners Details </h3>
    <input type="text" name="owner_name" class="container_form_left" value="<%= @animal.owner_name %>"/>

    <input type="text" name="owner_email"  class="container_form_right" value="<%= @animal.owner_email%>"/>
    <br>
    <br>
    <input type="text" name="owner_phone_number" id="animal_species" class="container_form_left" value="<%= @animal.owner_phone_number %>"/>


    <br>
    <br>


    <div class="padding_top">
      <h3 class="form_header padding_bottom"> Select Vet: </h3>
      <select  name="assigned_vet" id="vet_select" selected="<%= @animal.assigned_vet %>">
        <% @staff.each do |vet| %>
        <% if vet.id == @animal.assigned_vet %>
        <option value=<%= vet.id %> selected><%= vet.first_name.capitalize %></option>
        <% else %>
        <option value=<%= vet.id %>><%= vet.first_name.capitalize %></option>
        <% end %>
        <% end %>
      </select>
    </div>

    <div class = "container_form_left padding_top">
      <div><input type="submit" value="Update Animal Details"/></div>
    </div>




</form>




    <br>
    <br>
    <br>
    <br>
  </div>
