
<div class="grid-container">
  <div class="item1"><h3 id="index_head_font">Registered Animals:</h3></div>
  <div><a  href="/animals/new"><h4 class="button">Register new pet+</h4></a></div>
</div>


<table class="table">
  <tr class="table_row">
    <th class="table_data_header">Animal Name</th>
    <th class="table_data_header">Animal Type</th>
    <th class="table_data_header">Owner Name</th>
    <th class="table_data_header">Number of Visits</th>
    <th class="table_data_header table_data_extra_header">Details</th>
  </tr>
</table>



<% @animals.each do |animal| %>
<table class="table">
  <tr class="table_row">
    <td class="table_data"><%= animal.name%></td>
    <td class="table_data"><%= animal.type_of_animal%></td>
    <td class="table_data"><%= animal.owner_name%></td>
    <td class="table_data"><%= animal.return_number_of_visits_to_vets%></td>
    <td class=" table_data table_data_extra"><a href="/animals/<%= animal.id %>">Show Details</a></td>
  </tr>
</table>
<%end%>
<br>
<br>
<br>
