
<div class="flex_container">
  <div><a href="/visits"><h4 class="button">Up-Coming Visits</h4></a></div>
  <div><a  href="animals/new"><h4 class="button">Register new pet+</h4></a></div>
  <div><a  href="animals/registered-animals"><h4 class="button">Show Registered Pets</h4></a></div>
</div>

<div class="grid-container">
  <div class="item1"><h3 id="index_head_font">Admitted Animals in Hopsital:</h3></div>
</div>


<table class="table">
  <tr class="table_row">
    <th class="table_data_header">Animal Name</th>
    <th class="table_data_header">Animal Type</th>
    <th class="table_data_header">Owner Name</th>
    <th class="table_data_header">Check-in Date</th>
    <th class="table_data_header ">Details</th>
    <th class="table_data_header table_data_extra_header">Check Out</th>
  </tr>


<% @animals.each do |animal| %>
<% next if animal.is_animal_checked_out_of_hospital_and_show_date == nil || animal.is_animal_checked_out_of_hospital_and_show_date.check_out == 't'  %>
  <tr class="table_row">
    <td class="table_data"><%= animal.name%></td>
    <td class="table_data"><%= animal.type_of_animal%></td>
    <td class="table_data"><%= animal.owner_name%></td>
    <td class="table_data"><%= animal.is_animal_checked_out_of_hospital_and_show_date.check_in %></td>
    <td class=" table_data "><a href="/animals/<%= animal.id %>">Show Details</a></td>
    <td class="table_data table_data_extra"><form action="/animals/<%=animal.id%>/check_out" method="POST">
      <input type="submit" value="check out animal" id=""/>
  </form></td>
  </tr>
<%end%>
</table>
