

<div  class="flex-container "><a id="name"  href="animals/new">
  <h1 class="padding_left"><%= @animal.name.capitalize%></h1>
</a></div>

<div class="flex-container flex-container_spacing margin_top ">

  <div class="show_info ">
    <h2>Animal information:</h2>
    <br>
    <h3 class=" flex-item3"><strong>D.O.B:</strong>  <%= @animal.dob %></h3>
    <h3 class=" flex-item3"><strong> Species:</strong> <%= @animal.type_of_animal.capitalize %></h3>
  </div>

  <div class="show_info2 ">
    <h2>Owner information:</h2>
    <br>
    <h3 class=" flex-item3"><strong>Owner name: </strong>     <%= @animal.owner_name.capitalize%></h3>
    <h3 class=" flex-item3 "><strong>Owner e-mail:</strong>  <%= @animal.owner_email %></h3>
    <h3 class=" flex-item3"> <strong>Owner phone number:</strong>  <%= @animal.owner_phone_number %></h3>
  </div>

</div>

<div class="flex-container" id="TN">
  <h2 class="padding_right_200">Treatement Notes:</h2>
</div>

<div class="flex-container flex-container_end">
  <% @animal_visits.each do |visit|%>
  
  <h3 class="flex-item4">
    <%= visit.check_in%> : <%=visit.treatment_notes %></h3>
    <% end %>
  </div>

  <div class="flex-container flex-container_end">
    <div class="margin_right">
      <a href= "/animals/<%=@animal.id%>/edit" >
        <button class="button margin_button" id="button_show">Update Animal</button>
      </a>
    </div>

    <div>
      <br>
      <form action="/animals/<%=@animal.id%>/delete" method="POST">
        <div><input type="submit" value="Delete Animal" id="button_show"/></div>
      </form>


    </div>
  </div>
