

<div class="grid-container">
  <div class="item1"><h3 id="index_head_font">Current Animals in Surgery:</h3></div>
  <div class="item2"><a href="/vet-surgery/animals/new"><h4 class="button "> Find exisitng pet+</h4></a></div>
  <div class="item3"><a  href="/vet-surgery/animals/new"><h4 class="button "> Add new pet+</h4></a></div>
</div>


<table class="table">
  <tr class="table_row">
    <th class="table_data_header">Animal Name</th>
    <th class="table_data_header">Animal Type</th>
    <th class="table_data_header">Owner Name</th>
    <th class="table_data_header">Check_in</th>
    <th class="table_data_header table_data_extra_header">Details</th>
  </tr>
</table>

  <% @animals.each do |animal| %>
  <% if animal.check_out? != true %>
<table class="table">
  <tr class="table_row">
    <td class="table_data"><%= animal.name%></td>
    <td class="table_data"><%= animal.type_of_animal%></td>
    <td class="table_data"><%= animal.owner_name%></td>
    <td class="table_data"><%= animal.check_in %></td>
    <td class=" table_data table_data_extra"><a href="/vet-surgery/animals/<%= animal.id %>">Show Details</a></td>
  </tr>

</table>
<%end%>
<%end%>
