<div  class="flex-container"><a id="name"  href="/vet-surgery/new">
  <h1><%= @animal.name %></h1>
</a></div>

<div class="grid_template_2">

  <div class = "container_form_left ">
    <h2>Animal information</h2>
    <br>
    <h3 class=" flex-item3"><strong>D.O.B:</strong>  <%= @animal.dob %></h3>
    <h3 class=" flex-item3"><strong> Species:</strong> <%= @animal.type_of_animal %></h3>
  </div>

  <div class="container_form_right">
    <h2>Owner information</h2>
    <br>
    <h3 class=" flex-item3"><strong>Owner name: </strong>     <%= @animal.owner_name%></h3>
    <h3 class=" flex-item3 "><strong>Owner e-mail:</strong>  <%= @animal.owner_email %></h3>
    <h3 class=" flex-item3"> <strong>Owner phone number:</strong>     <%= @animal.owner_phone_number %></h3>
  </div>

</div>


<div class="flex_container">
  <h2>Treatement Notes</h2>
  <h3 class="flex-item4"><%= @animal.treatment_notes%></h3>
</div>

<div class="grid_template_2">
<div class="container_form_left"><a class="flex-item" href="/vet-surgery/<%= @animal.id %>/edit"><h4>Update animal info<a/></h4>
</div>

<div class="container_form_left"><form  action="/vet-surgery/<%= @animal.id %>/delete" method="POST"><input class="flex-item" type="submit" value="Delete from records"></form>
</div>
