
<h2>Edit <%= @staff.first_name %> <%= @staff.last_name %></h2>
<div>
  <form method="POST" action="/vet-surgery/staff/<%=@staff.id %>" class="container_form">

    <h3 class="form_header"> Staff Details </h3>
    <input type="text" name="first_name" class="container_form_left" value="<%= @staff.first_name %>"/>
    <!-- <label for = "animal_dob" class="container_form_right">Animal D.O.B: </label> -->
    <input type="text" name="last_name" id="staff_last_name" class="container_form_right" value="<%= @staff.last_name %>"/>

    <div class = "container_form_left">
      <input type="submit" value="update staff"/>
    </div>

  </form>
</div>
