<div  class="flex-container">
  <a id="name" href="/staffs/new">
  <h1><%= @staff.first_name.capitalize %> <%= @staff.last_name.capitalize%></h1>
  </a>
</div>

<table class="table">
  <tr class="table_row">
    <th class="table_data">First Name</th>
    <th class="table_data">Last Type</th>
  </tr>
</table>

<table class="table">
  <tr class="table_row">
    <td class="table_data"><%= @staff.first_name.capitalize%></td>
    <td class="table_data"><%= @staff.last_name.capitalize%></td>
  </tr>
</table>

<br>

    <div class="flex-container flex-container_end">
      <div class="margin_right">
        <a href="/staffs/<%=@staff.id%>/edit" >
          <button class="button margin_button " id='update_button' >Update Staff Info</button>
        </a>
      </div>


      <div>
        <br>
        <form action="/staffs/<%= @staff.id %>/delete" method="POST">
          <div><input type="submit" value="Delete from records" id="button_delete"/></div>
        </form>
      </div>

  </div>
